# Sea Level Rise data from Sweet et al (2017)
described in  https://tidesandcurrents.noaa.gov/publications/techrpt83_Global_and_Regional_SLR_Scenarios_for_the_US_final.pdf

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('techrpt083.csv', skiprows=15)

In [4]:
df.shape

(35046, 20)

In [5]:
df2 = df[df['Site'].str.contains("NEW YORK")]
df2

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),RSL in 2000 (cm),RSL in 2010 (cm),RSL in 2020 (cm),RSL in 2030 (cm),RSL in 2040 (cm),RSL in 2050 (cm),RSL in 2060 (cm),RSL in 2070 (cm),RSL in 2080 (cm),RSL in 2090 (cm),RSL in 2100 (cm),RSL in 2120 (cm),RSL in 2150 (cm),RSL in 2200 (cm)
36,NEW YORK,12,40.7,-74.01,0.3 - MED,1.29,0,5,11,15,20,25,31,36,39,44,46,51.0,58.0,69.0
37,NEW YORK,12,40.7,-74.01,0.3 - LOW,1.20,0,2,6,10,13,15,18,19,21,21,22,27.0,28.0,26.0
38,NEW YORK,12,40.7,-74.01,0.3 - HIGH,1.38,0,7,14,21,28,36,42,49,54,60,65,75.0,88.0,110.0
39,NEW YORK,12,40.7,-74.01,0.5 - MED,1.29,0,6,13,19,25,31,39,45,50,56,61,70.0,85.0,110.0
40,NEW YORK,12,40.7,-74.01,0.5 - LOW,1.20,0,4,8,13,18,24,29,33,39,43,47,54.0,63.0,70.0
41,NEW YORK,12,40.7,-74.01,0.5 - HIGH,1.38,0,7,16,23,31,39,47,54,60,66,72,85.0,106.0,145.0
42,NEW YORK,12,40.7,-74.01,1.0 - MED,1.29,0,9,19,29,39,51,65,80,96,114,130,148.0,202.0,295.0
43,NEW YORK,12,40.7,-74.01,1.0 - LOW,1.20,0,6,12,21,29,40,52,64,78,92,106,122.0,167.0,240.0
44,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,0,11,23,34,47,60,76,93,111,130,150,176.0,238.0,359.0
45,NEW YORK,12,40.7,-74.01,1.5 - MED,1.29,0,12,25,39,53,71,92,114,139,167,197,247.0,353.0,567.0
46,NEW YORK,12,40.7,-74.01,1.5 - LOW,1.20,0,7,14,24,36,51,68,87,108,130,154,195.0,281.0,442.0
47,NEW YORK,12,40.7,-74.01,1.5 - HIGH,1.38,0,15,31,45,61,80,104,130,159,191,225,297.0,420.0,673.0
48,NEW YORK,12,40.7,-74.01,2.0 - MED,1.29,0,14,31,48,67,92,124,154,189,234,279,368.0,561.0,926.0
49,NEW YORK,12,40.7,-74.01,2.0 - LOW,1.20,0,13,25,43,63,85,107,134,168,205,248,334.0,493.0,826.0
50,NEW YORK,12,40.7,-74.01,2.0 - HIGH,1.38,0,17,35,53,75,100,130,166,206,250,298,405.0,586.0,958.0
51,NEW YORK,12,40.7,-74.01,2.5 - MED,1.29,0,14,29,50,76,105,144,185,230,286,342,459.0,695.0,1139.0
52,NEW YORK,12,40.7,-74.01,2.5 - LOW,1.20,0,6,14,28,45,68,97,130,170,214,262,373.0,574.0,1011.0
53,NEW YORK,12,40.7,-74.01,2.5 - HIGH,1.38,0,15,33,55,82,114,150,194,241,296,357,530.0,772.0,1237.0

In [6]:
df3 = df2[df2['Scenario'].str.contains("1.0 - HIGH")]
df3

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),RSL in 2000 (cm),RSL in 2010 (cm),RSL in 2020 (cm),RSL in 2030 (cm),RSL in 2040 (cm),RSL in 2050 (cm),RSL in 2060 (cm),RSL in 2070 (cm),RSL in 2080 (cm),RSL in 2090 (cm),RSL in 2100 (cm),RSL in 2120 (cm),RSL in 2150 (cm),RSL in 2200 (cm)
44,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,0,11,23,34,47,60,76,93,111,130,150,176.0,238.0,359.0

In [7]:
df3.columns.values[0:5]

array(['Site', 'PSMSL ID', 'Latitude', 'Longitude', 'Scenario'], dtype=object)

In [8]:
df4 = pd.melt(df3, id_vars=df3.columns.values[0:6], 
                  var_name="Date", value_name="Value")
df4

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),Date,Value
0,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2000 (cm),0.0
1,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2010 (cm),11.0
2,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2020 (cm),23.0
3,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2030 (cm),34.0
4,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2040 (cm),47.0
5,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2050 (cm),60.0
6,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2060 (cm),76.0
7,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2070 (cm),93.0
8,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2080 (cm),111.0
9,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2090 (cm),130.0
10,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2100 (cm),150.0
11,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2120 (cm),176.0
12,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2150 (cm),238.0
13,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,RSL in 2200 (cm),359.0

In [9]:
df4['Date'].values

array(['RSL in 2000 (cm)', 'RSL in 2010 (cm)', 'RSL in 2020 (cm)',
       'RSL in 2030 (cm)', 'RSL in 2040 (cm)', 'RSL in 2050 (cm)',
       'RSL in 2060 (cm)', 'RSL in 2070 (cm)', 'RSL in 2080 (cm)',
       'RSL in 2090 (cm)', 'RSL in 2100 (cm)', 'RSL in 2120 (cm)',
       'RSL in 2150 (cm)', 'RSL in 2200 (cm)'], dtype=object)

In [10]:
import re
df4['Date'] = [int(re.findall(r'\d+', v)[0]) for v in df4['Date'].values]

In [11]:
df4

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),Date,Value
0,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2000,0.0
1,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2010,11.0
2,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2020,23.0
3,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2030,34.0
4,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2040,47.0
5,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2050,60.0
6,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2060,76.0
7,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2070,93.0
8,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2080,111.0
9,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2090,130.0
10,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2100,150.0
11,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2120,176.0
12,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2150,238.0
13,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2200,359.0

In [12]:
df4.rename(columns = {'Date':'Time'}, inplace = True)

In [13]:
df4

,Site,PSMSL ID,Latitude,Longitude,Scenario,Background RSL rate (mm/yr),Time,Value
0,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2000,0.0
1,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2010,11.0
2,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2020,23.0
3,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2030,34.0
4,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2040,47.0
5,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2050,60.0
6,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2060,76.0
7,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2070,93.0
8,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2080,111.0
9,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2090,130.0
10,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2100,150.0
11,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2120,176.0
12,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2150,238.0
13,NEW YORK,12,40.7,-74.01,1.0 - HIGH,1.38,2200,359.0

In [14]:
df4.to_csv('new_york.csv')